@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../../../vendor/jeffgreco13/filament-breezy/resources/**/*';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Make Filament navbar white */
[data-topbar],
[data-topbar-content] {
    background-color: white;
}

/* Make Filament sidebar white */
.fi-sidebar-nav {
    background-color: white;
}

